.main{
  display: flex;
flex-direction: row-reverse;
justify-content: flex-end;
}
.aside{

  height: 100vh;
  width: 20vw;
  background-color: rgb(255, 255, 255);
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  h3{
    color: #4BAF50;
    font-size: 1.7rem;
  }
  .category{
    display: flex;
    flex-direction: column;
    a{
      margin: 20px 5px;
      color: #92C94E;
    }
  }
  
}
.section{

  height: 1800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  .banner{
    height: 300px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    .infoBanner{
      h1{
        color: #4BAF50;
        margin: 5px;

      }
      h2{
        font-size: 2.4rem;
        color: #333333;
        margin: 5px;

      }
      button{
        width: 150px;
        height: 40px;
        font-family: "Roboto";
        background-color: #FBA21D;
        color: white;
        font-size: 1.7rem;
        font-weight: bold;
        border-radius: 15px;
        margin: 5px;
      }
    }
  }
  .promo{
    h1{
      color:#4BAF50;
      font-size: 1.7rem;
      margin: 20px;
    }
    .itensPromo{
      display: flex;
      justify-content: space-around;
      .itemPromo{
        display: flex;
        flex-direction: column;
        background-color: #bbf575;
        width: 250px;
        height: 380px;
        border-radius: 10px;
        padding: 5px;
        .title{
          background-color: white;
          padding: 5px;
          margin: 5px;
          border-radius: 5px;
          text-align: center;
          box-shadow: rgb(134, 134, 134) 0.5px 2px 6px;
        }
        .imgProduct{
          background-color: white;
          height: 240px;
          margin: 5px;
          padding: 5px;

        }
        .priceProduct{
          background-color: white;
          padding: 5px;
          margin: 5px;
          border-radius: 5px;
          text-align: center;
          flex: 1;
        }
      }
    }

  }
}