.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 45px;
  flex-wrap: wrap;
  max-width: 100vw;



  .logo{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    .imgLogo{
      padding-left: 1rem;

    }
  }
  h1{
    font-family: "Yuji Boku";

    line-height: 0.3;
  }
  .nav {
    display: flex;
    flex-wrap: wrap;
    a{
    margin: 10px 50px;
    font-family: 400 1rem "Roboto", sans-serif;
    color: #CACACA;
      &:hover{
        color: #92C94E;
        text-decoration: underline;
      }
  }
}
  .bag{
    
    position: relative;
  }
  .countItem{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    top: 0px;
    right: 0px;
    z-index: 9999;
    line-height: 1.2rem;
  }
}
