.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 45px;
  .logo{
    display: flex;
    align-items: center;
  }
  h1{
    font-family: "Yuji Boku";
  }
  a{
    margin: 10px 50px;
    font-family: 400 1rem "Roboto", sans-serif;
    color: #CACACA;
  }
}
